h1 Dados Abertos do e-SIC

p Essa página fornece links para baixar as bases de dados do Sistema Eletrônico de Informação ao Cidadão (e-SIC) da Prefeitura de São Paulo.

p Neste primeiro momento, a Controladoria Geral do Município, responsável pela aplicação da Lei de Acesso à Informação na capital, disponibiliza informações desde a criação do e-Sic municipal, em agosto de 2012, até o mês de abril de 2015. São mais de 6.500 pedidos de informação, acompanhados de suas respostas e anexos.



markdown:

  ## Privacidade

  As bases, que passarão a ser divulgadas regularmente, são tratadas para remoção de informações pessoais, protegidas pela legislação.

  Se você encontrou alguma informação pessoal nos pedidos divulgados, por favor, [comunique-nos imediatamente](http://www.prefeitura.sp.gov.br/portal/portal/contato/index.php?contato=1&url=http://transparencia.prefeitura.sp.gov.br/Paginas/PerguntasFrequentes.aspx). Da mesma forma, se foi ocultada alguma informação de interesse público, [avise-nos](http://www.prefeitura.sp.gov.br/portal/portal/contato/index.php?contato=1&url=http://transparencia.prefeitura.sp.gov.br/Paginas/PerguntasFrequentes.aspx)!

  ## Formatos da base

  A base está disponibilizada em duas partes: (1) a planilha, contendo todas as informações de pedido, resposta e eventuais recursos; e (2) os anexos.

  A Planilha (1) está disponível em três formatos: XLSX, ODS e CSV. Trata-se de uma base de dados extraída do sistema e-SIC e tratada pela equipe da Controladoria para remover as informações pessoais nela contidas.

  Já os Anexos (2) foram disponibilizados em lotes de arquivos compatcados (.zip) em diversos formatos, exatamente como foram divulgados pelos órgãos aos cidadãos, excluídas as informações pessoais eventualmente ali contidas: TXTS, DOCS, imagens, mapas, planilhas, PDFs, etc.

  ##Licença

  As bases estão sob licença [Creative Commons por Atribuição 4.0](//creativecommons.org/licenses/by/4.0/deed.pt_BR).

  ## Baixar

  Todos os arquivos estão disponíveis no [Portal da Transparência](http://transparencia.prefeitura.sp.gov.br/acesso-a-informacao/Paginas/SIC.aspx)
