markdown:

  # Créditos

  Este site foi desenvolvido pela equipe da Controladoria Geral do Município, a partir do projeto [Diário Livre](http://devcolab.each.usp.br/do/) Em ordem alfabética: 

/ ul
/  ==gerarCreditosMK

